<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>

  <key>WorkingDirectory</key>
  <string>__WORKING_DIRECTORY__</string>

  <key>ProgramArguments</key>
  <array>
    <string>__LAUNCHER__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>OMNIFOCUS_MCP_BRIDGE_ROOT</key>
    <string>__REPO_ROOT__</string>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__STDOUT_LOG__</string>

  <key>StandardErrorPath</key>
  <string>__STDERR_LOG__</string>
</dict>
</plist>
